PORT=3000

DB_HOST=fiap-db
DB_PORT=5432
DB_NAME=fiap_blog
DB_USER=fiap_user
DB_PASSWORD=fiap1234

JWT_SECRET=techchallenge_secret_dev
TEACHER_NAME=Professor Admin
TEACHER_EMAIL=professor@fiap.com
TEACHER_PASSWORD=123456